<div class="crumb-wrap">
    <div class="crumb-list"><i class="icon-font"></i>
        <a href="http://zchi.wywwwxm.com/wx_tp/public/index.php/admin/index/index">首页</a>
        <span class="crumb-step">&gt;
            </span><a class="crumb-name" href="http://zchi.wywwwxm.com/wx_tp/public/index.php/admin/news/create">菜单</a><span class="crumb-step">&gt;
            </span><span>自定义菜单</span></div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <form action="http://zchi.wywwwxm.com/wx_tp/public/index.php/admin/index/docreate" method="post" id="myform" name="myform" enctype="application/x-www-form-urlencoded">
            <table class="insert-tab" width="100%">
                <tbody>
                <tr>
                    <th><i class="require-red">*</i>菜单：</th>
                    <td>
                        <textarea name="menu" id="menu" cols="120" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input  value="创建菜单" type="submit">
                        <input  onclick="history.go(-1)" value="返回" type="button">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
