<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->


    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <link href="http://zchi.wywwwxm.com/wx_tp/public/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://zchi.wywwwxm.com/wx_tp/public/static/css/common.css" rel="stylesheet">
    <link href="http://zchi.wywwwxm.com/wx_tp/public/static/css/main.css" rel="stylesheet">
    <link href="http://zchi.wywwwxm.com/wx_tp/public/static/css/admin_login.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="http://zchi.wywwwxm.com/wx_tp/public/static/js/libs/bootstrap.js"></script>

    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<a href="https://www.taobao.com"><h1 style="color: #d62728;font-size: 40px;">{$materials.title}</h1></a>
<hr><a href="https://www.taobao.com"><p style="color: #942a25;font-size: 25px;">{$materials.abstract}</p></a><hr>
<p style="color: #ee5f5b;font-size: 30px;" ><a href="https://www.taobao.com"><img src="http://zchi.wywwwxm.com/wx_tp/public/{$materials.image}" alt="" width="280px" height="280px"></a><a href="https://www.taobao.com" style="color: #ee5f5b;font-size: 30px;" >{$materials.content}</a></p><hr>
<p style="color: #204d74;font-size: 15px;">创建时间：{$materials.create_time}</p><hr>
</body>