<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://zchi.wywwwxm.com/wx_tp/public/index.php/admin/oauth/question" method="post" id="myform" name="myform" enctype="multipart/form-data">
        <div class="weui-cells__title">姓名:</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="username"  placeholder="请输入您的姓名"/>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">性别</div>
        <div class="weui-cells weui-cells_radio">
            <label class="weui-cell weui-check__label" for="x11">
                <div class="weui-cell__bd">
                    <p>男</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="sex" id="x11" checked="checked">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="x12">

                <div class="weui-cell__bd">
                    <p>女</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="sex" class="weui-check" id="x12" >
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
        </div>
        <div class="weui-cells__title">购买手机型号:</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="phone" placeholder="请输入手机型号(例如：iphoneX)"/>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">购买日期:</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="buytime" placeholder="请输入购买时间(例如:1999-01-01)"/>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">问题描述:</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" name="question" placeholder="请您描述详细的手机使用中所出现的问题" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">联系方式:</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">qq</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="qq" placeholder="请输入qq号"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" name="number" placeholder="请输入手机号,方便解决您的问题。"/>
                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <input class="weui-btn weui-btn_primary" type="submit" id="showTooltips" />
        </div>
</form>
</body>
</html>