<div class="crumb-wrap">
    <div class="crumb-list"><i class="icon-font"></i>
        <a href="http://zchi.wywwwxm.com/wx_tp/public/index.php/admin/index/index">首页</a>
        <span class="crumb-step">&gt;</span>
        <a class="crumb-name" href="http://zchi.wywwwxm.com/wx_tp/public/index.php/admin/user/getuserlist">用户管理</a>
        <span class="crumb-step">&gt;</span>
        <a class="crumb-name">修改备注</a>
    </div>
</div>
<div class="crumb-wrap">
    <div class="crumb-list">
        <a class="crumb-list" href="http://zchi.wywwwxm.com/wx_tp/public/index.php/admin/user/getuserlist"><i class="icon-font">&#xe008;</i>所有用户</a>
        <a class="crumb-list" href="http://zchi.wywwwxm.com/wx_tp/public/index.php/admin/user/getblacklist"><i class="icon-font">&#xe008;</i>用户黑名单</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">修改昵称</h3>
    </div>
    <div class="panel-body">
        <form action="http://zchi.wywwwxm.com/wx_tp/public/index.php/admin/user/update/id/{$row.id}" method="post">
            备注：<input type="text" name="note" value="{$row.note}">
            <div>
                <input type="hidden" name="_method" value="PUT">
                <input type="submit" value="修改">
            </div>
        </form>
    </div>
</div>